<div class="hero">
  <div class="hero-inner">
    <div class="hero-content">
      <h1>
        Syte is an opinionated, ultra simple static site generator for node.js
      </h1>
      <p>Do we have that feature? Probably not.</p>
      <div class="hero-buttons">
        <div>
          <a href="<%= pathTo("/docs/getting-started") %>" class="button">
            get started
          </a>
        </div>
        <div>
          <a href="<%= pathTo("/docs/reference") %>" class="button">
            reference
          </a>
        </div>
      </div>
    </div>
    <div class="hero-preview">
<pre>
website
├── layouts
│   └── app.ejs
├── pages
│   ├── blog
│   │   └── my-post.md
│   └── index.md
├── static
│   └── app.css
└── app.yaml
</pre>
    </div>
  </div>
</div>
